In [2]:
import pandas as pd

In [3]:
df_spec = pd.read_csv('../data/cleaned/generic_butcher_spec_cleaned.csv')
df = pd.read_csv('../data/cleaned/generic_butcher_cleaned.csv')

In [32]:
df.loc[df['measured_height'] < .05].count().values[0]

28

In [37]:
df.shape[0]

34356

In [33]:
df.shape[0] - df.loc[df['measured_height'] < .05].count().values[0]

34328

In [38]:
34328 + 28

34356

In [4]:
df.loc[df['measured_height'] < .05].count().values[0]

0

In [5]:
df.shape[0]

34328

In [5]:
df_spec['product'].values

array(['10 oz  Sirloin A', '11 oz  Sirloin B', '11 oz  Sirloin C',
       '13 oz  Ribeye Tail A', '16 oz  Strip A',
       '16 oz  Dry Age Ribeye A', '16 oz  Prime Strip A',
       '16 oz  Ribeye Tail A', '18 oz  Ribeye A', '20 oz  Prime Ribeye A',
       '22 oz  Porterhouse A', '3.5 oz Tender Bits A',
       '4 oz T Tenderloin Tail A', '5 oz S Sirloin A', '5 oz S Sirloin B',
       '6 oz S Sirloin A', '6 oz S Sirloin B', '6 oz T Tenderloin A',
       '7 oz S Sirloin A', '7 oz S Sirloin B', '7 oz T Tenderloin A',
       '8 oz P Pork Chop A', '8 oz S Sirloin A', '8 oz S Sirloin B',
       '8 oz T Tenderloin A', '9 oz S Sirloin A', '9 oz T Tenderloin A'],
      dtype=object)

In [8]:
df.shape

(36160, 4)

In [11]:
df1 = df.merge(df_spec, how='left', on='product')

In [14]:
df1

,product,date_time,external_measurement_weight,height_avg,weight_min_,weight_max,thick_min_,thick_max
0,13 oz Ribeye Tail A,2024-06-03 07:16:28,16.76,1.62952,11.95,14.04,0.5,3.00
1,13 oz Ribeye Tail A,2024-06-03 07:16:47,16.12,1.02086,11.95,14.04,0.5,3.00
2,16 oz Ribeye Tail A,2024-06-03 07:17:36,16.34,1.03975,14.95,17.04,0.5,3.00
3,16 oz Ribeye Tail A,2024-06-03 07:17:53,16.16,1.05378,14.95,17.04,0.5,3.00
4,16 oz Ribeye Tail A,2024-06-03 07:18:08,16.12,1.03522,14.95,17.04,0.5,3.00
...,...,...,...,...,...,...,...,...
36155,7 oz S Sirloin A,2024-06-28 22:58:13,6.82,1.25516,6.24,7.24,1.1,1.75
36156,7 oz S Sirloin A,2024-06-28 22:58:23,6.86,1.29131,6.24,7.24,1.1,1.75
36157,7 oz S Sirloin A,2024-06-28 22:58:36,6.94,1.36985,6.24,7.24,1.1,1.75
36158,7 oz S Sirloin A,2024-06-28 22:59:01,6.80,1.32573,6.24,7.24,1.1,1.75
36159,7 oz S Sirloin A,2024-06-28 22:59:09,6.80,1.25799,6.24,7.24,1.1,1.75

In [9]:
df.head()

,product,date_time,external_measurement_weight,height_avg
0,13 oz Ribeye Tail A,2024-06-03 07:16:28,16.76,1.62952
1,13 oz Ribeye Tail A,2024-06-03 07:16:47,16.12,1.02086
2,16 oz Ribeye Tail A,2024-06-03 07:17:36,16.34,1.03975
3,16 oz Ribeye Tail A,2024-06-03 07:17:53,16.16,1.05378
4,16 oz Ribeye Tail A,2024-06-03 07:18:08,16.12,1.03522

In [10]:
df_spec.head()

                product  weight_min_  weight_max  thick_min_  thick_max
0      10 oz  Sirloin A         9.12       10.12         1.1       1.75
1      11 oz  Sirloin B        10.08       11.08         1.1       1.75
2      11 oz  Sirloin C        10.45       11.54         1.1       1.75
3  13 oz  Ribeye Tail A        11.95       14.04         0.5       3.00
4        16 oz  Strip A        14.45       17.54         0.5       3.00

In [21]:
df[df['date_time'] == '2024-06-18 18:15:11']

,product,date_time,external_measurement_weight,height_avg
20749,11 oz Sirloin C,2024-06-18 18:15:11,11.22,1.37966
20750,11 oz Sirloin C,2024-06-18 18:15:11,11.22,1.45684

In [28]:
test = list(df['date_time'].value_counts().values)

In [3]:
test_df = pd.read_csv('resources/generic_butcher_cleaned.csv')

In [5]:
test_df['product_name'].value_counts()

product_name
13 oz  Ribeye Tail A        2181
6 oz S Sirloin B            2137
5 oz S Sirloin B            2137
8 oz S Sirloin B            2088
11 oz  Sirloin C            2062
6 oz T Tenderloin A         2059
8 oz T Tenderloin A         1909
9 oz S Sirloin A            1787
16 oz  Ribeye Tail A        1437
18 oz  Ribeye A             1401
7 oz S Sirloin A            1375
6 oz S Sirloin A            1297
3.5 oz Tender Bits A        1290
7 oz S Sirloin B            1263
8 oz S Sirloin A            1260
8 oz P Pork Chop A          1044
7 oz T Tenderloin A         1030
9 oz T Tenderloin A          925
4 oz T Tenderloin Tail A     909
5 oz S Sirloin A             826
11 oz  Sirloin B             817
16 oz  Dry Age Ribeye A      765
22 oz  Porterhouse A         734
10 oz  Sirloin A             695
16 oz  Strip A               586
16 oz  Prime Strip A         220
20 oz  Prime Ribeye A        122
Name: count, dtype: int64

In [8]:
with open('../outputs/log.txt') as file:
    result =  file.readlines()

result.replace
# if 'ffff\n' in result:
#     print('it doesnt work')

it doesnt work

In [3]:
df1 = pd.read_csv('../data/cleaned/generic_butcher_cleaned.csv')
df2 = pd.read_csv('../data/cleaned/generic_butcher_spec_cleaned.csv')

In [8]:
df1

,product_name,date_time,measured_weight,measured_height
0,13 oz Ribeye Tail A,2024-06-03 07:16:28,16.76,1.62952
1,13 oz Ribeye Tail A,2024-06-03 07:16:47,16.12,1.02086
2,16 oz Ribeye Tail A,2024-06-03 07:17:36,16.34,1.03975
3,16 oz Ribeye Tail A,2024-06-03 07:17:53,16.16,1.05378
4,16 oz Ribeye Tail A,2024-06-03 07:18:08,16.12,1.03522
...,...,...,...,...
34351,7 oz S Sirloin A,2024-06-28 22:58:13,6.82,1.25516
34352,7 oz S Sirloin A,2024-06-28 22:58:23,6.86,1.29131
34353,7 oz S Sirloin A,2024-06-28 22:58:36,6.94,1.36985
34354,7 oz S Sirloin A,2024-06-28 22:59:01,6.80,1.32573
34355,7 oz S Sirloin A,2024-06-28 22:59:09,6.80,1.25799

In [6]:
df2.shape

(27, 5)

In [7]:
df2

                product_name  weight_min  weight_max  thick_min  thick_max
0           10 oz  Sirloin A        9.12       10.12       1.10       1.75
1           11 oz  Sirloin B       10.08       11.08       1.10       1.75
2           11 oz  Sirloin C       10.45       11.54       1.10       1.75
3       13 oz  Ribeye Tail A       11.95       14.04       0.50       3.00
4             16 oz  Strip A       14.45       17.54       0.50       3.00
5    16 oz  Dry Age Ribeye A       14.95       17.04       0.95       3.00
6       16 oz  Prime Strip A       14.95       17.04       0.95       3.00
7       16 oz  Ribeye Tail A       14.95       17.04       0.50       3.00
8            18 oz  Ribeye A       15.95       20.04       0.75       1.75
9      20 oz  Prime Ribeye A       18.95       21.10       0.95       2.00
10      22 oz  Porterhouse A       19.95       24.04       0.50       3.00
11      3.5 oz Tender Bits A        3.00        4.00       0.40       3.00
12  4 oz T Tenderloin Tail A        3.50        4.50       0.40       3.00
13          5 oz S Sirloin A        4.31        5.31       1.10       1.75
14          5 oz S Sirloin B        4.45        5.54       1.10       1.75
15          6 oz S Sirloin A        5.27        6.27       1.10       1.75
16          6 oz S Sirloin B        5.45        6.54       1.10       1.75
17       6 oz T Tenderloin A        5.65        6.59       0.95       3.04
18          7 oz S Sirloin A        6.24        7.24       1.10       1.75
19          7 oz S Sirloin B        6.45        7.54       1.10       1.75
20       7 oz T Tenderloin A        6.45        7.54       0.95       3.04
21        8 oz P Pork Chop A        7.75        9.75       0.75       1.50
22          8 oz S Sirloin A        7.20        8.20       1.10       1.75
23          8 oz S Sirloin B        7.45        8.54       1.10       1.75
24       8 oz T Tenderloin A        7.45        8.54       0.95       3.54
25          9 oz S Sirloin A        8.45        9.54       1.10       1.75
26       9 oz T Tenderloin A        8.45        9.54       0.95       3.54

In [10]:
def make_id_column(dataframe, primary_key: str):
    dataframe[primary_key] = dataframe.index + 1
    dataframe = rearrange_cols(dataframe, primary_key)
    return dataframe

def rearrange_cols(dataframe, primary_key: str):
    new_order = [primary_key] + [col for col in dataframe.columns if col != primary_key]
    dataframe = dataframe[new_order]
    return dataframe

def merge_dataframes(left_df, right_df, join_key: str):
    left_df = left_df.merge(right_df, how='left', on = join_key)
    return left_df

In [19]:
df1 = make_id_column(df1, 'metric_id' )

In [20]:
df2 = make_id_column(df2, 'product_id')

In [28]:
df1 = df1.merge(df2, on='product_name')

In [30]:
df1 = df1[['metric_id', 'product_id', 'product_name', 'date_time', 'measured_weight', 'measured_height']]

In [39]:
df1.product_id.unique()

array([ 4,  8, 21, 18, 25, 17, 15, 20, 24,  3, 26,  9,  7,  6, 16, 19, 23,
       14,  2,  1, 11, 27,  5, 12, 13, 22, 10], dtype=int64)

In [ ]:
df1