In [2]:
import pandas as pd

In [2]:
df_spec = pd.read_csv('resources/generic_butcher_spec_cleaned.csv')
df = pd.read_csv('resources/generic_butcher_cleaned.csv')

In [5]:
df_spec['product'].values

array(['10 oz  Sirloin A', '11 oz  Sirloin B', '11 oz  Sirloin C',
       '13 oz  Ribeye Tail A', '16 oz  Strip A',
       '16 oz  Dry Age Ribeye A', '16 oz  Prime Strip A',
       '16 oz  Ribeye Tail A', '18 oz  Ribeye A', '20 oz  Prime Ribeye A',
       '22 oz  Porterhouse A', '3.5 oz Tender Bits A',
       '4 oz T Tenderloin Tail A', '5 oz S Sirloin A', '5 oz S Sirloin B',
       '6 oz S Sirloin A', '6 oz S Sirloin B', '6 oz T Tenderloin A',
       '7 oz S Sirloin A', '7 oz S Sirloin B', '7 oz T Tenderloin A',
       '8 oz P Pork Chop A', '8 oz S Sirloin A', '8 oz S Sirloin B',
       '8 oz T Tenderloin A', '9 oz S Sirloin A', '9 oz T Tenderloin A'],
      dtype=object)

In [8]:
df.shape

(36160, 4)

In [11]:
df1 = df.merge(df_spec, how='left', on='product')

In [14]:
df1

,product,date_time,external_measurement_weight,height_avg,weight_min_,weight_max,thick_min_,thick_max
0,13 oz Ribeye Tail A,2024-06-03 07:16:28,16.76,1.62952,11.95,14.04,0.5,3.00
1,13 oz Ribeye Tail A,2024-06-03 07:16:47,16.12,1.02086,11.95,14.04,0.5,3.00
2,16 oz Ribeye Tail A,2024-06-03 07:17:36,16.34,1.03975,14.95,17.04,0.5,3.00
3,16 oz Ribeye Tail A,2024-06-03 07:17:53,16.16,1.05378,14.95,17.04,0.5,3.00
4,16 oz Ribeye Tail A,2024-06-03 07:18:08,16.12,1.03522,14.95,17.04,0.5,3.00
...,...,...,...,...,...,...,...,...
36155,7 oz S Sirloin A,2024-06-28 22:58:13,6.82,1.25516,6.24,7.24,1.1,1.75
36156,7 oz S Sirloin A,2024-06-28 22:58:23,6.86,1.29131,6.24,7.24,1.1,1.75
36157,7 oz S Sirloin A,2024-06-28 22:58:36,6.94,1.36985,6.24,7.24,1.1,1.75
36158,7 oz S Sirloin A,2024-06-28 22:59:01,6.80,1.32573,6.24,7.24,1.1,1.75
36159,7 oz S Sirloin A,2024-06-28 22:59:09,6.80,1.25799,6.24,7.24,1.1,1.75

In [9]:
df.head()

,product,date_time,external_measurement_weight,height_avg
0,13 oz Ribeye Tail A,2024-06-03 07:16:28,16.76,1.62952
1,13 oz Ribeye Tail A,2024-06-03 07:16:47,16.12,1.02086
2,16 oz Ribeye Tail A,2024-06-03 07:17:36,16.34,1.03975
3,16 oz Ribeye Tail A,2024-06-03 07:17:53,16.16,1.05378
4,16 oz Ribeye Tail A,2024-06-03 07:18:08,16.12,1.03522

In [10]:
df_spec.head()

                product  weight_min_  weight_max  thick_min_  thick_max
0      10 oz  Sirloin A         9.12       10.12         1.1       1.75
1      11 oz  Sirloin B        10.08       11.08         1.1       1.75
2      11 oz  Sirloin C        10.45       11.54         1.1       1.75
3  13 oz  Ribeye Tail A        11.95       14.04         0.5       3.00
4        16 oz  Strip A        14.45       17.54         0.5       3.00

In [21]:
df[df['date_time'] == '2024-06-18 18:15:11']

,product,date_time,external_measurement_weight,height_avg
20749,11 oz Sirloin C,2024-06-18 18:15:11,11.22,1.37966
20750,11 oz Sirloin C,2024-06-18 18:15:11,11.22,1.45684

In [28]:
test = list(df['date_time'].value_counts().values)

In [29]:
test.sort()

In [30]:
test

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [3]:
test_df = pd.read_csv('resources/generic_butcher_cleaned.csv')

In [5]:
test_df['product_name'].value_counts()

product_name
13 oz  Ribeye Tail A        2181
6 oz S Sirloin B            2137
5 oz S Sirloin B            2137
8 oz S Sirloin B            2088
11 oz  Sirloin C            2062
6 oz T Tenderloin A         2059
8 oz T Tenderloin A         1909
9 oz S Sirloin A            1787
16 oz  Ribeye Tail A        1437
18 oz  Ribeye A             1401
7 oz S Sirloin A            1375
6 oz S Sirloin A            1297
3.5 oz Tender Bits A        1290
7 oz S Sirloin B            1263
8 oz S Sirloin A            1260
8 oz P Pork Chop A          1044
7 oz T Tenderloin A         1030
9 oz T Tenderloin A          925
4 oz T Tenderloin Tail A     909
5 oz S Sirloin A             826
11 oz  Sirloin B             817
16 oz  Dry Age Ribeye A      765
22 oz  Porterhouse A         734
10 oz  Sirloin A             695
16 oz  Strip A               586
16 oz  Prime Strip A         220
20 oz  Prime Ribeye A        122
Name: count, dtype: int64